body, html {
	background-color: #1E283B;
}

div#wrapper {
	background-color: white;
}

h1 {  color: #354668; }
h2 {  color: #354668; }
h3 {  color: #354668; }
h4 {  color: #354668; }
h5 {  color: #354668; }
h6 {  color: #354668; }

.ui-clickable {
	cursor:  pointer;
}

a, .ui-link {
	text-decoration: none;
	font-weight: bold;
	color: #6488c9;
}

a:hover, .ui-link:hover {
	text-decoration: underline;
}
/***************************
   UI-Menu
 ***************************/

div.ui-menu {
	color: white;
}


div.ui-menu span {
/*	background-color: #2B374E; */
	background: #1E283B;
	color: #dedeef;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;

}

div.ui-menu a:hover
{
	text-decoration: none;
}

div.ui-menu span.ui-selected{
	background: #ffffff;
	color: #232345;
}

div.ui-menu span.ui-hot{
	background: #8B1E28;
}

div.ui-menu span.ui-hot.ui-selected{
	background: #ffffff;
	color: #DE1E28;
}

div.ui-menu span:hover{
	background: #efefef;
	color: #232345;
}

/***********************
	UI-user-info
 **********************/
 div.ui-user-info
{
	background-color: #f5f7fa;
	border: 1px solid #cdcdcd;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

div.ui-user-info h1
{
	color: #c98864;
	text-align: left;
	font-size: 12pt;
	border-bottom: 2px solid #ededed ;
}

div.ui-user-info h2
{
	color: #454545;
	text-align: left;
	font-size: 11pt;
	border-bottom: 2px solid #ededed ;
}

/***********************
	UI-user-edit-form
 **********************/
div.ui-user-edit-form table{	width: 100%;	}
div.ui-user-edit-form table td{	padding: 5px;	}
div.ui-user-edit-form table td[colspan="2"]{		text-align: right;	}
div.ui-user-edit-form table input[type="text"]{	width: 100%;	}


/************************
	UI-idelete
 ************************/
.ui-iedit
{
	text-decoration: underline;
}

.ui-idelete img
{	background: url('images/idelete16.png') no-repeat center center;
	vertical-align: middle;

}

.ui-idelete img.opened
{	background: url('images/idelete-rotated16.png') no-repeat center center;	}

.ui-idelete-button
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #331212;
	background-color: #de1212;
	color: white;
	font-weight: bold;
}

.ui-idelete-button:hover
{
	background-color: #ed1212;
}

/***********************
	UI-widget
 ***********************/

div.ui-widget
{
	background-color: #f5f7fa;
	border: 1px solid #cdcdcd;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

div.ui-widget h1
{
	font-size: 11pt;
	border-bottom: 1px solid #a3a3a3;
}

/***********************
  UI-search-filter
 **********************/
div.ui-search-filter{	font-size: 14pt;	color: #454545;	}
.ui-search-filter-keyword{	color: #c98864;	font-weight: bold;}
.ui-search-filter-keyword sup{	font-size: 8pt;	}
.ui-search-filter-clearall{	font-weight: normal;	font-size: 10pt;}


/***********************
  UI-menu-list
 **********************/
ul.ui-menu-list
{
	list-style: none;
}

ul.ui-menu-list li
{
	vertical-align: middle;
}


/***************************
   UI-Form
 ***************************/

div.ui-form table
{
    background-color: #e1ecfa;
	border-bottom:  1px solid #787878;
	border-right:  1px solid  #787878;
	border-top:  1px solid #dedeff;
	border-left:  1px solid  #dedeff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width:  100%;
}

div.ui-form th
{
    color: #354668;
    text-align: left;
    padding: 0px 5px 15px 5px;
    margin: 30px;
/*	border-bottom: 1px solid #8da2c9;*/
}

div.ui-form td
{
    vertical-align: top;
}

div.ui-form input
{
	height: 20px;
}

div.ui-form td[colspan="2"]
{
    text-align: right;
}

span.ui-form-hint
{
    color: #9999AA;
    font-style: italic;
}

span.ui-form-error
{
    color: #FF0000;
}


/***************************
   UI-Grid
 ***************************/


div.ui-grid .ui-grid-title
{
	font-style: italic;
	text-align: right;
}

div.ui-grid table.ui-grid-list
{
	width:  100%;
	border-top: 1px solid #c1cada;
	border-left: 1px solid #c1cada;
}
div.ui-grid table.ui-grid-list th
{
	color: #4f5b72;
	border-right: 1px solid #c1cada;
	border-bottom: 1px solid #c1cada;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	background: #cad5ea url('images/bg_header.jpg') no-repeat;
}

div.ui-grid table.ui-grid-list td
{
	border-right: 1px solid #c1cada;
	border-bottom: 1px solid #c1cada;
	background: #fff;
	color: #6d7d9b;
}

div.ui-grid table.ui-grid-list tr.ui-even td
{
	background: #f5f7fa;
	color: #6d7d9b;

}

div.ui-grid table.ui-grid-list tr:hover td
{
	background: #e1e6ef;
	color: #b3b49d;
}

div.ui-grid .ui-grid-page-controls{
	padding: 3px 2px;
	width: 100%;
}
div.ui-grid .ui-grid-page-controls td
{
	background: transparent;
	color: #4f5b72;
	font-size: 9pt;
	padding: 0px;
	margin: 0px;
}

.ui-grid-previous, .ui-grid-next
{
	font-weight: bold;
}

span.ui-grid-first:hover, span.ui-grid-previous:hover, span.ui-grid-next:hover, span.ui-grid-last:hover
{
	text-decoration: underline;
	cursor: pointer;
}

.ui-grid-next
{
	background: url('images/arrowRight.png') no-repeat right center;
	padding-right: 14px;
}

.ui-grid-previous
{
	background: url('images/arrowLeft.png') no-repeat left center;
	padding-left: 14px;
}

div.ui-grid span.ui-grid-inactive
{
	font-weight: normal;
	color: #cecece;
	padding:  0px;
}

div.ui-grid span.ui-grid-inactive.ui-grid-next
{
	background: url('images/arrowRight-inactive.png') no-repeat right center;
	padding-right: 14px;
}

div.ui-grid span.ui-grid-inactive.ui-grid-previous
{
	background: url('images/arrowLeft-inactive.png') no-repeat left center;
	padding-left: 14px;
}

div.ui-grid span.ui-grid-inactive:hover
{
	text-decoration: none;
	cursor: auto;
}

/********************
	UI-Small-banner
 ********************/
.ui-small-banner
{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #6488c9;
}

.ui-small-banner a
{
	color: #ffffff;
}

.ui-small-banner img
{
	vertical-align: middle;
}

/********************
	Not Found
 ********************/
div.not-found { width: 700px; margin: 50px auto;  padding: 10px;
	border: 3px solid #EE9999; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
div.not-found h1 { color: black; border-bottom: 1px solid #a1a1a1; margin-bottom: 5px;}
div.not-found p { margin: 5px auto; font-size: 105%; }
div.not-found em { color: #a1a1a1; font-style: normal;	}


/*************************
   Organize divisions
 **********************/

div#wrapper
{
    background-color: #ffffff;
}

div#navigation
{
    background: #1E283B url('images/navigation-bg-blue.png') repeat-x bottom center ;
    color: #ffffff;
}

div#login-panel a
{
    color: #ffffff;
}


div#footer
{
    text-align: right;    
    border-top: 1px solid #999999;
    font-size: 9pt;
	color: #999999;
}
span.ui-process-time
{
	padding-top: 4px;
	font-size: 8pt;

	color: #aaaaaa;
}
div#footer a
{
    font-size: 9pt;
	color: #999999;
}

