/*******************************
 Layout css has everything except of
 * Background
 * Color
 * Borders
 * Text alignement
 * Test style and decoration
*/
* { margin: 0px; padding: 0px; }

body, html {
	font: normal 10pt Helvetica; 
}
table {
	font: normal 10pt Helvetica; 
}

h1 { font: bold 18pt Helvetica; }
h2 { font: bold 16pt Helvetica; }
h3 { font: bold 14pt Helvetica; }
h4 { font: bold 12pt Helvetica; }

pre { font: normal 9pt Monospace; }

div#wrapper {
	margin: 10px;
	min-height:  400px;
}

/***************************
   UI-Menu
 ***************************/

div.ui-menu {
	position: absolute;
	top:  29px;
	left:  200px;
}


div.ui-menu span {
	display: inline-block;
	padding: 7px 7px 3px 7px;
	margin: 0px 8px;
	font-size: 10pt;
	font-weight: bold;
	height:  16px;
}

/***********************
	UI-user-info
 **********************/
 div.ui-user-info
{
	margin: 30px 0px 0px 50px;
	width: 300px;
	float:  left;
	padding: 8px;
	min-height: 100px;
}

div.ui-user-info h1
{
	padding: 5px;;
}

div.ui-user-info h2
{
	padding: 5px;;
}

/************************
	UI-idelete
 ************************/
.ui-iedit
{
	cursor: pointer;
}

.ui-idelete img
{	width: 16px;
	height: 16px;
	cursor: pointer;
	display: none;
}

.ui-idelete-button
{
	display: none;
	height: 20px;
	margin-left: 10px;
	padding: 4px 7px 3px 7px;
	cursor: pointer;
}

/***********************
	UI-widget
 ***********************/

div.ui-widget
{
	padding: 8px;
	margin-bottom: 10px;
	min-height: 100px;
}

/***********************
  UI-menu-list
 **********************/
ul.ui-menu-list
{
	padding: 5px;
}

ul.ui-menu-list li
{
	padding-left:  5px;
	padding-top: 7px;
	height: 18px;
}

/***********************
  UI-search-filter
 **********************/
div.ui-search-filter{	margin: 10px 50px 10px;}


/***************************
   UI-Form
 ***************************/

div.ui-form table
{
    border-spacing: 0px;
    padding: 15px;
    margin: 3px;
}

div.ui-form th
{
    padding: 10px 10px 10px 0px;
    font-size: 16pt;
    font-weight: bold;
}

div.ui-form td
{
    padding: 5px 3px 5px 3px;
    vertical-align: top;
}


span.ui-form-hint
{
    font-style: italic;
    font-size: 10pt;
}

span.ui-form-error
{
    font-weight: bold;
    font-size: 10pt;
}

div.ui-form input[type="submit"], div.ui-form input[type="reset"], div.ui-form input[type="button"]
{
    margin-left: 12px;
}

/***************************
   UI-Grid
 ***************************/
div.ui-grid table
{
    border-spacing: 0px;
}

div.ui-grid caption
{
	padding: 0 0 5px 0;
	font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

div.ui-grid table th
{
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	padding: 6px 6px 6px 12px;
}

div.ui-grid table td
{
	padding: 6px 6px 6px 12px;
}

/********************
	UI-Small-banner
 ********************/
.ui-small-banner
{
	padding: 10px;
}

.ui-small-banner img
{
	border: 0px;
	margin: 0px 3px;
}

/*************************
   Organize divisions
 **********************/
body
{
    height:100%;
    min-width:950px;
}

div#wrapper
{
    margin: 0px 15px;
}

div#navigation
{
    height: 55px;
}

span#site-title{
	position: absolute;
	font-weight: bold;
	font-size: 18pt;
	top: 18px;
	left: 40px;
}
div#login-panel
{
    position: absolute;
    top: 10px;
    right: 45px;
}


div#main
{
    padding: 10px 15px 10px 10px;
/*    float: left; */
    min-width: 500px;
    min-height: 500px;
    width: auto;
}

div#footer
{
    clear: both;
    font-size: 9pt;
    padding: 8px 0px;
    margin: 10px 0px 0px 0px;
}

.ui-register
{
    margin: 50px auto 30px auto;
    width: 300px;
}

.ui-login
{
    margin: 50px auto;
    width: 300px;
    Height: 100px;
}

.userlist
{
	width: 400px;
	margin: 30px;
}

div#main-base
{
	float:  left;
}

div#main-widgets
{
	margin: 30px 0px 0px 50px;
	width: 230px;
	float:  right;
}